




@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");




:root {
  --grey-color: #333333;
  --text: #1d1d1f;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
  --green:#16a085;
}

 html{
  
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
 }
 

 .btn{
  display: inline-block;
  margin-top: 1rem;
  padding: .5rem;
  padding-left: 1rem;
  border:var(--border);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  color:var(--green);
  cursor: pointer;
  font-size: 1.7rem;
  background: #fff;
}

.btn span{
  padding:.7rem 1rem;
  border-radius: .5rem;
  background: var(--green);
  color:#fff;
  margin-left: .5rem;
}

.btn:hover{
  background: var(--green);
  color:#fff;
}

.btn:hover span{
  color: var(--green);
  background:#fff;
  margin-left: 1rem;
}

.head{
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color:var(--black);
  font-size: 5rem;
  letter-spacing: .4rem;
}

.head span{
  text-transform: uppercase;
  color:var(--green);
}


.monitor {
  margin: 20px 40px;
  color: white;
 
  
}

body {
  background-color: #12172b;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 20px 40px;
  color: white;
}

.heading {
  font-size: 60px;
  color:var(--green);
}

.heading span {
  font-style: italic;
  font-size: 30px;
}

.profiles {
  display: flex;
  justify-content: space-around;
  margin: 20px 80px;
}

.profile {
  flex-basis: 260px;
  
}

.profile .profile-img {
  height: 210px;
  width: 210px;
  border-radius: 100%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
}

.profile:hover .profile-img {
  filter: grayscale(0);
  
  
  
}


.user-name {
  margin-top: 30px;
  font-size: 35px;
  
}
.user-name:hover{
  color: var(--green);
}



.profile p {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;
}

@media only screen and (max-width: 1150px) {
  .profiles {
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 40px;
    color: white;
    text-align: center;
  }

  .heading span {
    font-size: 15px;
  }

  .profiles {
    margin: 20px 0;
  }

  .profile p {
    margin: 20px 10px 80px 10px;
  }
}

.home{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:1.5rem;
  padding-top: 10rem;
  background-color:rgb(210, 210, 215);
}

.home .image{
  flex:1 1 45rem;
}

.home .image img{
  width: 100%;
}

.home .content h3{
  font-size: 3rem;
  color:var(--text);
  line-height: 1.8;
  text-shadow: var(--text-shadow);
  padding-right: 50px;
}



  
  /* Start Navbar */
  .navbar {
    background-color:  #12172b;
  }
  .navbar .navbar-nav .nav-link {
    color: white;
  }
  .navbar .navbar-nav .nav-link.active,
  .navbar .navbar-nav .nav-link:focus,
  .navbar .navbar-nav .nav-link:hover {
    color: var(--green);
  }
  .navbar .search {
    border-left: 1px solid var(--text);
  }
  .navbar .search svg {
    color: var(--text);
  }
  .navbar .navbar-toggler {
    color: white;
    font-size: 30px;
    border-color: white;
  }
  .navbar .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--text);
  }
  /* End Navbar */
   

  /*about start*/
  
  .about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    background-color:rgb(210, 210, 215);
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 4rem;
    line-height: 1.8;
}

.about .row .content p{
    color: var(--light-color);
    padding:1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
}
  
/*about end*/





/*footer start*/
.footer{
  margin:0;
   padding: 0;
    box-sizing: border-box;
    outline: none;
     border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;

}
.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));

  gap:2rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color:var(--green);
  padding: 1rem 0;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  color:rgb(210, 210, 215);
  padding: 1rem 0;
}

.footer .box-container .box a i{
  padding-right: .5rem;
  color:var(--green);
}

.footer .box-container .box a:hover {
  padding-right:2rem;
  color: var(--green);
}

.footer .credit{
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  color:var(--light-color);
  border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span{
  color:var(--green);
}

/*footer end */




